.btn{
    background-color: #222;
    color: #fff;
    padding: .5em 1em;
    text-decoration: none;
    transition: .5s;
    border-radius: 3px;
}
.btn:hover{
    background-color: #363535;
    color: #ffbb33;
}